.cardsSection {
  background-color: #111;
  color: white;
  text-align: center;
  background: url('../img/dark_wood.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
}

.cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
