.caseStudySection {
  background-color: #dddddd;
  /* background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23eeeeee' fill-opacity='0.34' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url('../img/email-pattern.png');
}
.caseStudy {
  overflow: hidden;
  height: 400px;
  box-sizing: border-box;
  position: relative;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
.caseStudyImage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: lightgray;
  transition: all 0.3s ease-in-out;
}
.caseOne {
  background: url('../img/cs-welder.jpg') no-repeat center/cover;
}
.caseTwo {
  background: url('../img/cs-clouds.jpg') no-repeat center/cover;
}
.caseThree {
  background: url('../img/cs-tools.jpg') no-repeat center/cover;
}

.caseStudy:hover .caseStudyImage,
.caseStudy:focus .caseStudyImage {
  cursor: pointer;
  transform: scale(1.05);
  cursor: pointer;
}
.caseStudy:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.caseStudies {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.caseStudyLink {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem;
  color: #fff;
  overflow-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  color: #fff;
}

.magicalLine {
  background-image: linear-gradient(
    to right,
    #D01D5B 0%,
    #8E006D 51%,
    rgb(76, 35, 223) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;

  transition: background-size 0.25s ease-in;
}

.magicalLineGreen {
  background-image: linear-gradient(
    to right,
    #00BCCD 0%,
    #0094D1 51%,
    #006BC6 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;

  transition: background-size 0.25s ease-in;

}

.caseStudy:hover .magicalLine {
  background-size: 100% 88%;
}

.caseStudy:hover .magicalLineGreen {
  background-size: 100% 88%;
}

@media (max-width: 1024px) {
  .caseStudies {
    grid-template-columns: repeat(1, 1fr);
  }
}
